.nextButton {
	position: absolute;
	bottom: 10px;
	right: 5px;
}

.previousButton {
	position: absolute;
	bottom: 10px;
	right: 55px;
}
.container-div{ 
  Display: flex;
  Height: 75vh;
  Width: 100vw; 
  Align-Items: center;
  Justify-Content: centre;
  flex-wrap: wrap;
  flex-direction: column;
  }
  .container-arrow{
    flex-direction: row;
  }
  
