.nextButton {
	position: absolute;
	bottom: 10px;
	right: 5px;
}

.previousButton {
	position: absolute;
	bottom: 10px;
	right: 55px;
}
.container-div{ 
  Display: flex;
  Height: 75vh;
  Width: 100vw; 
  Align-Items: center;
  Justify-Content: centre;
  flex-wrap: wrap;
  flex-direction: column;
  }
  .container-arrow-bottom{
    flex-direction: row;
    position: relative;
    top: 100px;
  }
  .container-arrow-top{
    flex-direction: row;
    position: relative;
    bottom: 100px;
  }
  .plus{
    position :absolute;
    flex-direction: column;
  }
  .container-cue-top{
    position: relative;
    bottom: 100px;
  }
  .container-cue-down{
    position: relative;
    top: 100px;
  }
